{% extends 'base.html' %} {% block head %}
<title>New Song</title>
{% endblock %} {% block body %}

<h1>Adding a Song</h1>

<hr />
<h2>New Song:</h2>
<form action="/playlist" method="POST">
  <label for="title">Song Title:</label>

  <input
    class="form-control"
    type="text"
    name="title"
    id="title"
    placeholder="Enter song"
  />
  <br />

  <label for="artist">Artist:</label>
  <input
    class="form-control"
    type="text"
    name="artist"
    id="artist"
    placeholder="Enter artist"
  />
  <br />

  <label for="bpm">BPM:</label>
  <br />
  <input
    class="form-control"
    type="text"
    name="bpm"
    id="bpm"
    placeholder="Beats per minute"
  />
  <br />
  <input class="btn btn-success" type="submit" value="Add" />
</form>
<hr />
{% endblock %}
