{% extends 'base.html' %} {% block head %}
<title>Playlist</title>
{% endblock %} {% block body %}

<h1>My Playlist</h1>

<hr />
<h2>Add a new song</h2>
<form action="/playlist" method="POST">
  Song Title: <input type="text" name="title" id="title" />
  <br />
  Artist: <input type="text" name="artist" id="artist" />
  <br />
  BPM: <input type="text" name="bpm" id="bpm" />
  <br />
  <input type="submit" value="Post" />
</form>
<hr />

{% for song in playlist %}
<h3>Song Title: {{song.title}}</h3>
<p>Artist: {{song.artist}}</p>
{% if song.bpm %}
<p>BPM: {{song.bpm}}</p>
{% else %}
<p>BPM: N/A</p>
{%endif%}
<a href="/playlist/delete/{{song.id}}">Delete</a>
<a href="/playlist/edit/{{song.id}}">Edit</a>
{%endfor%} {% endblock %}
