{% extends 'base.html' %} {% block head %}
<title>Playlist</title>
{% endblock %} {% block body %}

<br />
<div>
  <h1 style="display: inline;">My Playlist</h1>
  <a
    style="display: inline;"
    class="btn btn-success float-right"
    href="/playlist/new"
    >+ New Song</a
  >
</div>
<br />

<hr />

{% for song in playlist %}
<h5>Song Title: {{song.title}}</h5>
<p>Artist: {{song.artist}}</p>
{% if song.bpm %}
<p>BPM: {{song.bpm}}</p>
{% else %}
<p>BPM: N/A</p>
{%endif%}
<a class="btn btn-danger" href="/playlist/delete/{{song.id}}">Delete</a>
<a class="btn btn-primary" href="/playlist/edit/{{song.id}}">Edit</a>
<br />
<hr />
<br />

{%endfor%} {% endblock %}
